<div class="row d-flex justify-content-center">
 <!-- ngFor -->
  <div class="card hero-card m-4">
    <div class="d-flex justify-content-center">
      <img class="card-img-top rounded-circle img-background align-items-center" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">Imagem</h5>
      <p class="hero-name">Nome</p>
      <p class="hero-name">ID</p>
      <p class="hero-name">Tipo</p>
      <p class="lista-ataque">Lista de ataques com </p>
      <ul>
          <li>
            Custo de “mana”
          </li>
          <li>Nome</li>
          <li>Dano</li>
          <li>Descriçao</li>
      </ul>

   
      <p class="card-text">Resistenmcias<p>
        <p class="card-text">Fraqueza<p>

    </div>
    <div class="card-footer">
      <a class="btn btn-primary m-2">Update</a>
    
    </div>
  </div>
</div>